html, body {
    background-color: #22262a !important;
}
p {
    align-content: center;
    background-color: #495285;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 6em;
}
p > span {
    opacity: 0.4;
    text-align: center;
}
.img {
    position: relative;
    float: left;
    height: 260px;
    background-position-y: 0;
    background-repeat:   no-repeat;
    background-size:     cover;
}
